[run]
parallel = true
source =
    glados

[paths]
source =
    src/glados
    */src/glados
    */site-packages/glados

[report]
omit =
    */slack_classes/*
    *message_blocks.py
show_missing = true
precision = 2
